<div class="container">
  <footer class="py-3 my-4">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
      <li class="nav-item"><a routerLink="inicio" class="nav-link px-2 text-muted">Inicio</a></li>
      <li class="nav-item"><a routerLink="quienes-somos" class="nav-link px-2 text-muted">Ingresar</a></li>
      <li class="nav-item"><a routerLink="quienes-somos" class="nav-link px-2 text-muted">Quienes Somos</a></li>
    </ul>
    <p class="text-center text-muted">© 2021 Jeicob Hoyos Torres, Despliegue Angular HEROKU</p>
  </footer>
</div>
