<h1 class="text-center fw-bold"> Quienes Somos</h1>
<h2>Enrutamiento interno</h2>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quod accusamus, voluptates error cupiditate nisi cumque amet eveniet repudiandae totam dolorem consequuntur distinctio expedita non assumenda obcaecati minima unde ea praesentium.</p>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quod accusamus, voluptates error cupiditate nisi cumque amet eveniet repudiandae totam dolorem consequuntur distinctio expedita non assumenda obcaecati minima unde ea praesentium.</p>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quod accusamus, voluptates error cupiditate nisi cumque amet eveniet repudiandae totam dolorem consequuntur distinctio expedita non assumenda obcaecati minima unde ea praesentium.</p>
<div>
  <h2>Contactenos</h2>
  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quod accusamus, voluptates error cupiditate nisi cumque amet eveniet repudiandae totam dolorem consequuntur distinctio expedita non assumenda obcaecati minima unde ea praesentium.</p>
  <form>
  <label for="imput_usuario">Usuario: </label>
  <input type="text" id="imput_usuario" placeholder="Jeicob Hoyos">
  <label for="imput_Mensaje">Mensaje:  </label>
  <textarea rows="3" type="text" id="imput_Mensaje" placeholder="Ingrese el mensaje"> </textarea>
  </form>
</div>
